<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
        <div class="container">
            <b> <a class="navbar-brand text-white" href="#">THE ROYAL ORCHID</a></b>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">       
            <span class="navbar-toggler-icon text-black"></span>     
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Home</a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#about">About</a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#gallery">Gallery</a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#contact">Contact</a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/signin">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <br><br>
    </div>
</div>
<!-- About -->
<div class="container my-5 d-grid gap-5 content text-center" id="about">
    <div class="p-5 border">
        <div class="fade-scroll">
            <h2>ABOUT US</h2>
        </div><br>
        <p class="animation appears-delayed text-black">            Hotel The Royal Orchid is a preferred choice for business and leisure travelers. It is located close to Mahindra Techpark and is a 5-minutes drive from Chennai's most frequented dining and nightlife high street - 100 ft' Road, Anna
            nagar. The hotel is also at walking distance Rajiv Gandhi Hospital, a preferred hospital for medical tourist from around the world.
            <br><br>
            <b>Hope you have a great tour here!! Reach out to us for feedbacks and complaints.</b>
        </p>
        <br>
        <button class="button-css-contact" onclick="window.location.href='#contact'">CONTACT US</button>
    </div>
</div>
<!-- Gallery -->
<div class="container my-5 d-grid gap-5 content text-center" id="gallery">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-9  mx-auto">
                <div class="fade-scroll">
                    <h2>
                        <span><b> Take A Look At Our Gallery</b></span>
                    </h2>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-box"><img src="/assets/images/hotel1.jpg" class="img-fluid" alt=""></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-box"><img src="/assets/images/hotel3.jpg" class="img-fluid" alt=""></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-box"><img src="/assets/images/hotel4.jpg" class="img-fluid" alt=""></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-box"><img src="/assets/images/hotel7.jpg" class="img-fluid" alt=""></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-box"><img src="/assets/images/hotel5.jpg" class="img-fluid" alt=""></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-box"><img src="/assets/images/hotel8.jpg" class="img-fluid" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact us -->
    <!-- Contact Us Section -->
    <section class="contact-us"  id="contact">
        <!-- <div class="container"  style="margin-bottom: -50px;">
            <div class="row">
                <div class="col-md-12 text-black text-center"  style="margin-top: -10px;">
                    <div class="fade-scroll">
                        <h2>CONTACT US</h2>
                    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-7">
        <form action=" /"  class="mb-4 mb-lg-0">
            <div class="form-row">
                <div class="form-group">
                    <input type="email"  class="form-control"  name="email"  id="email"  placeholder="Your Email"   />
                    </div>
                    </div><br>
                    <div class="form-group">
                        <input type="text"  class="form-control"  name="subject"  id="subject"  placeholder="Subject" />
                        </div><br>
                        <div class="form-group">
                            <textarea class="form-control"  name="message"  placeholder="Type Message"></textarea>
                                </div><br>
                                <button type="submit"  class="button-css-contact-form">SUBMIT</button>
                                    </form>
                                    </div>
                                    </div>
                                    </div> -->
        <div class="fade-scroll">
            <h2>CONTACT US</h2>
        </div>

        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="/assets/images/contact.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b> Contact:</b></h5>
                <p class="card-text"><b>Address:</b> No. 1, Aravind Avenue, Adjoining KGA Golf Course, Anna Nagar, Chennai - 600010, Tamilnadu</p>
                <p><b>Phone no:</b>9876656578</p>
                <p><b>Email:</b> theroyalorchid@gmail.com</p>
                <p><b>Instagram:</b> @The_Royal_Orchid</p>
            </div>
        </div>
        </section>