<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">

        <b> <a class="navbar-brand text-white">Reservation Details</a></b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon text-black"></span>     
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="navigate()" role="button">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"       rel="stylesheet">
</head>
<h3>Reservation Details</h3><br>
<div style="float: right;">
    <a [routerLink]="['/res/add']" class="text-primary"><button class="btn btn-light"><i class="material-icons" id="add">&#xe7fe;</i>Add Reservation</button></a> &nbsp;
    <br><br>
</div>
<table>
    <thead>
        <tr>
            <th>Res Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td> {{ reservation.reservationCode }}</td>
            <td> {{ reservation.name }}</td>
            <td> {{ reservation.gender }}</td>
            <td> {{ reservation.checkIn }}</td>
            <td> {{ reservation.checkOut }}</td>
            <td>
                <a [routerLink]="['/res/update', reservation.reservationCode]" class="text-warning"><i class="material-icons" id="edit">&#xf88d;</i></a>&nbsp;
                <a (click)="deleteReservation(reservation.reservationCode)" role="button" class="text-danger"><i class="material-icons" id="delete">&#xe92b;</i></a>&nbsp;
            </td>
        </tr>
    </tbody>
</table>