<!-- <h2>Add Room</h2>
<div class="container min-vh-80 d-flex justify-content-center align-items-center border border-primary">

    <form [formGroup]="addRoom" (ngSubmit)="SaveData()">

        <div class="mb-3">
            <label for="roomType" class="form-label">Room Type</label>
            <select class="custom-select" name="roomType" class="form-control" formControlName="roomType" placeholder="Role" required="required">
            
                    <option value="Room Type" selected>Room Type</option>
                    <option value="Single Cot">Single Cot - Rs.1000</option>                    
                    <option value="Double Cot">Double Cot - Rs.2000</option>                   
                    <option value="Deluxe">Deluxe - Rs.4000</option>
                    <option value="Executive-suite">Executive-suite - Rs.6000</option>
                    <option value="Honeymoon-suite">Honeymoon-suite - Rs.7000</option>
                    <option value="Presidential-suite">Presidential-suite - Rs.8000</option>
                </select>
        </div>
        <div class="mb-3">
            <label for="roomStatus" class="form-label">Room Status</label>
            <select class="custom-select" name="roomStatus" class="form-control" formControlName="roomStatus" placeholder="Room Status" required="required">
            <option value="Room Status" selected>Room Status</option>
            <option value="Available">Available</option>
            <option value="Unavailable">Unavailable</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div> -->

<!-- <h2>Rooms</h2>
<div class="row">
    <div class="column">
        <img src="/assets/images/single.jpg"  style="width:100%">
            <h3>Single Cot</h3>
            <p class="price">Rs.1000/-</p>
                <p><button (click)="SaveData()">Book now</button></p>
                </div>
                <div class="column">
                    <img src="assets/images/double.jpg"  style="width:100%">
                        <h3>Double cot</h3>
                        <p class="price">Rs.2000/-</p>
                            <p><button (click)="SaveData()">Book now</button></p>
                            </div>
                            <div class="column">
                                <img src="assets/images/deluxe.jpg"  style="width:100%">
                                    <h3>Deluxe</h3>
                                    <p class="price">Rs.4000/-</p>
                                        <p><button (click)="SaveData()">Book now</button></p>
                                        </div>

                                        <div class="row">
                                            <div class="column">
                                                <img src="/assets/images/exe.jpg"  style="width:100%">
                                                    <h3>Executive Suite</h3>
                                                    <p class="price">Rs.6000/-</p>
                                                        <p><button (click)="SaveData()">Book now</button></p>
                                                        </div>
                                                        <div class="column">
                                                            <img src="/assets/images/honeymoon.jpg"  style="width:100%">
                                                                <h3>Honeymoon Suite</h3>
                                                                <p class="price">Rs.7000/-</p>
                                                                    <p><button (click)="SaveData()">Book now</button></p>
                                                                    </div>
                                                                    <div class="column">
                                                                        <img src="/assets/images/pres.jpg"  style="width:100%">
                                                                            <h3>Presidential Suite</h3>
                                                                            <p class="price">Rs.8000/-</p>
                                                                                <p><button (click)="SaveData()">Book now</button></p>
                                                                                </div>
                                                                                </div> -->